# IDE config folders
.idea/
.vscode/

# Python virtual environment
.venv/
venv/
removed_bg/
aligned_faces/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Compiled files
*.so
*.dll
*.exe

# Logs and temp files
*.log
*.tmp